
.input {
    width: 80%;
    height: 4.5vh;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
}

.input::placeholder {
    font-size: .7em;
}

.texto {
    /* margin-bottom: 3vh; */
    font-size: .9em;
    color: red;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .input::placeholder {
        font-size: .9em;
    }
}