
.input {
    width: 60%;
    height: 5vh;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
}

.input::placeholder {
    font-size: .6em;
}

.texto {
    font-size: .9em;
    color: red;
}

@media screen and (max-width: 480px) {
    .input {
        height: 3.5vh;
        padding: 0;
    }
    .input::placeholder {
        font-size: .5em;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .input {
        height: 4vh;
    }
    .input::placeholder {
        font-size: .8em;
    }
}