
.input {
    appearance: none;
    -webkit-appearance: none;
   /* remove default */
    display: block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    /* vertical-align: middle; */
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: hsla(0,0%,0%,.2);
    background-image: gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    transform .25s cubic-bezier(.8, 0, 1, 1);;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
  }
  
  .input:checked {
    transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    transform .25s cubic-bezier(0, 0, .2, 1);
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
      -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  }
  
  .input:active {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transition: transform .1s cubic-bezier(0, 0, .2, 1);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  }
  
  
  
  /* The up/down direction logic */
  
  .input,
  .input:active {
    background-position: 24px 0;
  }
  
  .input:checked {
    background-position: 0 0;
  }
  
  .input:checked ~ .input,
  .input:checked ~ .input:active {
    background-position: -24px 0;
  }

  .variante,
  .variante:active {
    background-position: -24px 0;
  }
  
  .variante:checked {
    background-position: 0 0;
  }
  
  .variante:checked ~ .variante,
  .variante:checked ~ .variante:active {
    background-position: 24px 0;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5vw;
  }

  .children {
    font-size: 1.2em;
  }

  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .input {
      width: 28px;
      height: 28px;
    }
    .children {
      font-size: 1.8em;
    }
  }