
.letra {
    background-color: gray;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.3em;
    font-weight: 600;
    &.valida {
        background-color: yellow;
    }
    &.correta {
        background-color: #00ba13;
        border: solid 1px white;
    }
}